{% extends 'base.html.twig' %}

{% block title %}Search — {{ query }}{% endblock %}

{% block body %}

    {% for p in posts %}
        <h2>
            {{ p.title }}
        </h2>
        <p><i> — {{ p.datetimeCreated|date("F jS Y") }}</i></p>
        <p>{{ p.body[:100] ~ '...'  }}</p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>


{% endblock %}